@import "../../common/colors.scss";

.counter{
    background-color: $secondary-color;
    margin-bottom: 30px;
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    display: flex;
    justify-content: start;


    @media only screen and (max-width:800px){
        justify-content: center;
    }
}