@import "../../common/colors.scss";


.header{
    position: fixed;
    background-color: #777;
    height: 72px;
    width: 100%;
    padding: 0px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10000;
}

.search-bar{
    width: 50%;
    display: flex;
    justify-content:start;
    @media only screen and (max-width:1200px){
        width: 95%;
        justify-content:center;
    }
    

    form{
        display: flex;
        justify-content: center;
        width: 70%;

        button{
            padding:0px 8px;
            font-size: 20px;
            cursor: pointer;
            height: 38px;
        }
    }

    input{
        font-size: 18px;
        width:100%;
        padding: 5px 5px 5px 10px;
        height: 38px;
        outline: none;
    }
}