@import "../../common/colors.scss";

.sidebar{
    background-color: $secondary-color;
    font-size: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 50px;
    margin-left: 100px;
    margin-right: 100px;
    height: 500px;

    @media only screen and (max-width:1000px){
        padding: 0;
        height: auto;
    }
}